<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>A place to manage all of your events in your life. You can add, delete, view, or filter events based on different categories and dates.</p>
    <button class="btn"><a href="/event/add">ADD EVENT</a></button>
    <button class="btn"><a href="/event">Browse All EVENTS</a></button>

  </body>
</html>
